<div>

        <!-- need to add the camera here -->

 <iframe width="100%" src="/webcam/?action=stream" style="border:none; margin: auto; display: block;"></iframe>
 
 <div class="row">
                <div class="col-md-6">

                    <div data-device="1" class="device-1">
                        <h2>Art 1</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>


                    <div data-device="3" class="device-3">
                        <h2>Art 3</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="5" class="device-5">
                        <h2>Art 5</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="7" class="device-7">
                        <h2>Gripper</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Close</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Open</button>
                        </div>
                    </div>
                 

                </div>

                <div class="col-md-6">
                    
                    <div data-device="2" class="device-2">
                        <h2>Art 2</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="4" class="device-4">
                        <h2>Art 4</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="6" class="device-6">
                        <h2>Art 6</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="8" class="device-6">
                        <h2>Vise</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Close</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Open</button>
                        </div>
                    </div>
                
                </div>


                
            </div>


</div>