<div>

        <!-- need to add the camera here -->

 <!-- <iframe width="100%" src="/webcam/?action=stream" style="border:none; margin: auto; display: block;"></iframe> -->

<div class="row clearfix">
<div class="camera">
<img id="webcam_image" data-bind="css: { flipH: settings.webcam_flipH(), flipV: settings.webcam_flipV() }" src="/webcam1/?action=stream"> 
</div>
<div class="camera">
<img id="webcam_image" data-bind="css: { flipH: settings.webcam_flipH(), flipV: settings.webcam_flipV() }" src="/webcam2/?action=stream"> 
</div>
</div>

 <div class="row clearfix">
                <div class="col-md-6">

                    <div data-device="1" class="device">
                        <h2>Art 1</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>


                    <div data-device="3" class="device">
                        <h2>Art 3</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="5" class="device">
                        <h2>Art 5</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="7" class="device">
                        <h2>Gripper</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Close</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Open</button>
                        </div>
                    </div>
                 

                </div>

                <div class="col-md-6">
                    
                    <div data-device="2" class="device">
                        <h2>Art 2</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="4" class="device">
                        <h2>Art 4</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="6" class="device">
                        <h2>Art 6</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Left</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Right</button>
                        </div>
                    </div>

                    <div data-device="8" class="device">
                        <h2>Vise</h2>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" data-dir="0" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Close</button>
                            <button type="button" data-dir="1" onmousedown="onmousedownHandler(this)" onmouseup="onmouseupHandler(this)" class="btn btn-default">Open</button>
                        </div>
                    </div>
                
                </div>


                
            </div>


</div>